/*
/.**

!/.github/**
!/.gitconfig_shared
!/.gitignore_global

!/.zshrc
!/.zprofile
!/setup.sh
!/applications.sh

!/.wezterm.lua
!/fonts.sh

!/private_profile.code-profile

!/README.md
!/.gitignore